<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://raw.github.com/marcoscaceres/jsi18n/master/jsi18n_patch.js">
    </script>

    <title>Postal Rates Result</title>
</head>
<body>
    <h1>Your Estimated Postal Rate</h1>

    <h2>Here's what <%= mailType %> at <%= weight %> (oz.) will cost ya: <%= (cost).toLocaleString("ar", {style: "currency", currency: "USD"}) %></h2>

</body>
</html>